<div class="container mt-5">
<div class="row">
    <div class="col-md-12">
<h1>New game</h1>
<p>What is the longest word you can find?</p>
<ul class="list-group list-group-horizontal">
<% @letters.each do |letter| %>
 <li  class="list-group-item"
 style="margin:4px; color:white; background-color:CornflowerBlue; border-radius:2px; font-size: 20px; font-family: 'Courier New', monospace;">
 <b><%= letter %></b></li>
 <% end%>
</ul>
<form action="/score" method ="post" data-turbo="false" class="mt-4">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :start_time, @start_time %>
  <div class="input-group w-50">
  <input class="form-control" type="text" name="answer" value="<%= params[:answer] %>">
  <span class="input-group-btn">
  <input class="btn btn-outline-dark" type="submit" value="Play">
  </span>
  </div>
</form>
</div>
</div>
</div>
